li {
    display: flex;
    justify-content: space-between;
    background-color: rgb(29, 30, 30);
    gap: 16px;
    border-radius: 16px;
    align-items: center;
}
li span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 16px;
    cursor: pointer;
    width: 24px;
    height: 24px;
}
li p {
    line-height: 1.4rem;
}
li span:first-of-type:hover {
    background-color: green;
    border-radius: 50%;
    transition: .3s ease;
}
li span:last-of-type:hover {
    background-color: red;
    border-radius: 50%;
    transition: .3s ease;
}
.icon_check--completed {
    text-decoration: line-through;
}

