.CreateTodoButton {
    background-color: #0296c0;
    box-shadow: 0px 5px 20px rgba(97, 218, 250, 0.1);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 50px;
    font-weight: bold;
    color: aliceblue;
    height: 64px;
    width: 64px;
    position: absolute;
    top: 24px;
    right: 32%;
    z-index: 999;

    transform: rotate(0);
    transition: 0.5s ease-in-out;
}
.CreateTodoButton:hover {
    transform: rotate(135deg);
    transition: .5s ease-in-out;
    background-color: #03708e;
}